@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared style  */

.section-title {
    font-size: 3.125rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
    text-align: center;
}
.primary-color {
    color: #E95A08;
}
.dark-1 {
    color: #252432;
}
.dark-2 {
    color: #8987A1;
}
.dark-3 {
    color: rgba(0, 0, 0, 0.5);
}

.section-description {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}
.text-center {
    text-align: center;
}

/* header section start  */

.header {
    max-width: 1140px;
    margin: 0 auto;
}

/* navbar style start  */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 120px;

}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 48px;
}
.navbar ul li {
    list-style: none;
}
.navbar ul a {
    text-decoration: none;
}
/* banner section start  */

.banner {
    display: flex;
    align-items: end;
    margin-bottom: 120px;
}
.banner-title {
    font-size: 65px;
    font-weight: 700;
     font-family: "Noto Serif", serif;

}
.banner-content {
    width: 100%;
}
.banner-image {
    width: 100%;
}
.banner-image img {
    width: 100%;
}

/* main section start  */

main {
    max-width: 1140px;
    margin: 0 auto;
}
/* our plant section start  */

.plants-desc {
    margin-top: 16px;
    padding: 0 100px;
}

.plants-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 50px;

}

.plants img {
    width: 100%;
}

.plant-name {
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
}
.plant-price {
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0 30px;
}
.cart-button {
    width: 100%;
    background-color: #E95A08;
    color: white;
    font-weight: 600;
    padding: 19px 0;
    border: none;
}

@media screen and (max-width:640px) {
    .hide {
        display: none;
    }
    .navbar {
        padding: 0 16px;
        margin-bottom: 28px;
    }
    .navbar ul {
        gap: 10px;
    }
    .navbar img {
        width: 63px;
    }
    .banner {
        flex-direction: column-reverse;
        gap: 28px;
        margin-bottom: 65px;
    }
    .banner-content {
        padding: 0 16px;
    }
    .banner-title {
        font-size: 1.5rem;
        padding-right: 80px;
    }
    .section-title {
          font-size: 1.5rem;
    }
    .section-description {
        font-size: 14px;
    }
    main {
        padding: 0 16px;
    }
    .plants-desc {
        padding: 0;
    }
    .plants-container {

        grid-template-columns: repeat(2, 1fr);
        margin-top: 28px;
    }
    .plant-name,.plant-price {
        font-size: 1rem;
    }
    .plant-price {
        margin: 10px 0 30px;
    }

}

